<nav class="navbar">
    <div>AgroÑame - Compradores</div>
    <div>
      <a>Carrito</a>
    </div>
</nav>

<div class="container">
    
    <h4 class="section-title">Catálogo de Productos Disponibles</h4>

    <div class="product-grid">
        <div class="product-card" *ngFor="let p of productos">
            <img [src]="p.foto" [alt]="p.nombre">
            <div class="product-details">
                <h5>{{ p.nombre }}</h5>
                <p>
                    <strong>Precio:</strong> ${{ p.precioFinal?.toFixed(2) }}
                    <span class="price-before">(antes ${{ p.precio }})</span>
                </p>
                <p><span class="badge-discount">{{ p.descuento }}% de descuento</span></p>
                <p><strong>Disponibilidad:</strong> {{ p.disponibilidad }} unidades</p>
                <p><strong>Unidad:</strong> {{ p.unidad }}</p>
                <p><strong>Prácticas de Cultivo:</strong> {{ p.practicas }}</p>
            </div>
            <button class="btn-add-to-cart" (click)="addToCart(p)">Añadir al Carrito</button>
        </div>
    </div>

</div>